# Data Preprocessing

Converting data in json format to csv format

In [1]:
import pandas as pd
import json
import csv

In [2]:
with open("data/Otermans_export.json") as file:
    data=json.load(file)

In [4]:
df=pd.DataFrame(data)
df.head(2)

,IDC,users,version
krizia86744776,{'11-23-2022 10:24:42 PM': {'dateTime': '11/23...,NaN,0.1
peri peri98263724,{'08-11-2022 14:57:43': {'dateTime': '08/11/20...,NaN,0.1

In [8]:
my_list_for_IDC=[]
for i in data['IDC'].values():
    for j in i.values():
        my_list_for_IDC.append(j)

In [10]:
my_list_for_IDC[0]

{'dateTime': '11/23/2022 10:24:42 PM',
 'name': 'krizia',
 'personalRecords': {'CC': 2, 'EA': 3, 'TCA': 3, 'TQA': 3},
 'timeSpent': {'timeAI': '',
  'timeHomeScreen': '36.77s',
  'timeLesson': '',
  'timeMaps': '',
  'timeQuiz': '',
  'timeRewardPage': '',
  'timeStore': ''},
 'userId': 'krizia86744776'}

In [12]:
new_df=pd.DataFrame(my_list_for_IDC)
new_df.head(3)

,dateTime,name,personalRecords,timeSpent,userId,questionsData
0,11/23/2022 10:24:42 PM,krizia,"{'CC': 2, 'EA': 3, 'TCA': 3, 'TQA': 3}","{'timeAI': '', 'timeHomeScreen': '36.77s', 'ti...",krizia86744776,NaN
1,11/23/2022 10:59:40 PM,krizia,"{'CC': 7, 'EA': 0, 'TCA': 7, 'TQA': 7}","{'timeAI': '', 'timeHomeScreen': '65.52s', 'ti...",krizia86744776,NaN
2,11/23/2022 2:51:27 PM,krizia,"{'CC': 2, 'EA': 1, 'TCA': 5, 'TQA': 5}","{'timeAI': '3.38s', 'timeHomeScreen': '148.70s...",krizia86744776,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."

In [13]:
my_list_for_Users=[]

for item in data['users'].values():
    my_list_for_Users.append(item)

In [17]:
user_list_df=pd.DataFrame(my_list_for_Users)
# user_list_df.head(2)
user_list_df.to_csv('data/Users_Data.csv')

In [19]:
new_list_for=[]
dict_for_this=dict()
for i in my_list_for_IDC:
    for k,v in i.items():
        if not isinstance(v,dict):
            dict_for_this[k]=v
            
        else:
            for key,value in v.items():
                dict_for_this[k+'_'+key]=value
                
#     print(dict_for_this)
    new_list_for.append(dict_for_this.copy())

In [22]:
df = pd.DataFrame(new_list_for)
df.head(4)

,dateTime,name,personalRecords_CC,personalRecords_EA,personalRecords_TCA,personalRecords_TQA,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore,userId,questionsData
0,11/23/2022 10:24:42 PM,krizia,2,3,3,3,,36.77s,,,,,,krizia86744776,NaN
1,11/23/2022 10:59:40 PM,krizia,7,0,7,7,,65.52s,,2.68s,52.51s,,,krizia86744776,NaN
2,11/23/2022 2:51:27 PM,krizia,2,1,5,5,3.38s,148.70s,70.32s,18.16s,55.66s,,9.67s,krizia86744776,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
3,11/23/2022 9:46:30 PM,krizia,4,2,8,8,,163.96s,64.51s,27.36s,83.29s,,,krizia86744776,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."

In [26]:
df=df.replace('',float('NaN'))
df.head(2)

,dateTime,name,personalRecords_CC,personalRecords_EA,personalRecords_TCA,personalRecords_TQA,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore,userId,questionsData
0,11/23/2022 10:24:42 PM,krizia,2,3,3,3,NaN,36.77s,NaN,NaN,NaN,NaN,NaN,krizia86744776,NaN
1,11/23/2022 10:59:40 PM,krizia,7,0,7,7,NaN,65.52s,NaN,2.68s,52.51s,NaN,NaN,krizia86744776,NaN

In [27]:
val=df[['timeSpent_timeAI','timeSpent_timeHomeScreen','timeSpent_timeLesson','timeSpent_timeMaps','timeSpent_timeQuiz','timeSpent_timeRewardPage','timeSpent_timeStore']]
val.head(3)

,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore
0,NaN,36.77s,NaN,NaN,NaN,NaN,NaN
1,NaN,65.52s,NaN,2.68s,52.51s,NaN,NaN
2,3.38s,148.70s,70.32s,18.16s,55.66s,NaN,9.67s

In [28]:
val.fillna('00',inplace=True)
val.head(3)

/tmp/ipykernel_100395/1483863311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val.fillna('00',inplace=True)

,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore
0,00,36.77s,00,00,00,00,00
1,00,65.52s,00,2.68s,52.51s,00,00
2,3.38s,148.70s,70.32s,18.16s,55.66s,00,9.67s

In [29]:
import ast
def myfunc(obj):
    return float(ast.literal_eval(obj[:-1]))

In [30]:
val['timeSpent_timeAI'] = val['timeSpent_timeAI'].apply(myfunc)
val['timeSpent_timeHomeScreen']=val['timeSpent_timeHomeScreen'].apply(myfunc)
val['timeSpent_timeLesson'] = val['timeSpent_timeLesson'].apply(myfunc)
val['timeSpent_timeMaps'] = val['timeSpent_timeMaps'].apply(myfunc)
val['timeSpent_timeQuiz'] = val['timeSpent_timeQuiz'].apply(myfunc)
val['timeSpent_timeRewardPage'] = val['timeSpent_timeRewardPage'].apply(myfunc)
val['timeSpent_timeStore'] = val['timeSpent_timeStore'].apply(myfunc)

/tmp/ipykernel_100395/1234641488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['timeSpent_timeAI'] = val['timeSpent_timeAI'].apply(myfunc)
/tmp/ipykernel_100395/1234641488.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['timeSpent_timeHomeScreen']=val['timeSpent_timeHomeScreen'].apply(myfunc)
/tmp/ipykernel_100395/1234641488.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['timeSpent_timeLesson'] = val['timeSpent_timeLesson'].apply(myfunc)
/tmp/ipykernel_100395/1234641488.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['timeSpent_timeMaps'] = val['timeSpent_timeMaps'].apply(myfunc)
/tmp/ipykernel_100395/1234641488.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['timeSpent_timeQuiz'] = val['timeSpent_timeQuiz'].apply(myfunc)
/tmp/ipykernel_100395/1234641488.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['timeSpent_timeRewardPage'] = val['timeSpent_timeRewardPage'].apply(myfunc)
/tmp/ipykernel_100395/1234641488.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['timeSpent_timeStore'] = val['timeSpent_timeStore'].apply(myfunc)

In [31]:
val.head(3)

,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore
0,0.00,36.77,0.00,0.00,0.00,0.0,0.00
1,0.00,65.52,0.00,2.68,52.51,0.0,0.00
2,3.38,148.70,70.32,18.16,55.66,0.0,9.67

In [32]:
df[['timeSpent_timeAI','timeSpent_timeHomeScreen','timeSpent_timeLesson','timeSpent_timeMaps','timeSpent_timeQuiz','timeSpent_timeRewardPage','timeSpent_timeStore']]=val

In [33]:
date=df['dateTime'].apply(lambda x:x.split(' ',1)[0])
time=df['dateTime'].apply(lambda x:x.split(' ',1)[1])

In [34]:
df.insert(2,'Date', date)
df.insert(3,'Time', time)

In [38]:
df.head()

,name,Date,Time,personalRecords_CC,personalRecords_EA,personalRecords_TCA,personalRecords_TQA,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore,userId,questionsData
0,krizia,11/23/2022,10:24:42 PM,2,3,3,3,0.00,36.77,0.00,0.00,0.00,0.0,0.00,krizia86744776,NaN
1,krizia,11/23/2022,10:59:40 PM,7,0,7,7,0.00,65.52,0.00,2.68,52.51,0.0,0.00,krizia86744776,NaN
2,krizia,11/23/2022,2:51:27 PM,2,1,5,5,3.38,148.70,70.32,18.16,55.66,0.0,9.67,krizia86744776,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
3,krizia,11/23/2022,9:46:30 PM,4,2,8,8,0.00,163.96,64.51,27.36,83.29,0.0,0.00,krizia86744776,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
4,krizia,11/24/2022,1:39:34 PM,6,0,15,16,0.00,71.56,262.46,81.57,0.00,0.0,0.00,krizia86744776,"[{'courseTitle': 'Sports', 'errorAttempts': ''..."

In [36]:
df.drop('dateTime',axis='columns',inplace=True)

In [39]:
df.head()

,name,Date,Time,personalRecords_CC,personalRecords_EA,personalRecords_TCA,personalRecords_TQA,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore,userId,questionsData
0,krizia,11/23/2022,10:24:42 PM,2,3,3,3,0.00,36.77,0.00,0.00,0.00,0.0,0.00,krizia86744776,NaN
1,krizia,11/23/2022,10:59:40 PM,7,0,7,7,0.00,65.52,0.00,2.68,52.51,0.0,0.00,krizia86744776,NaN
2,krizia,11/23/2022,2:51:27 PM,2,1,5,5,3.38,148.70,70.32,18.16,55.66,0.0,9.67,krizia86744776,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
3,krizia,11/23/2022,9:46:30 PM,4,2,8,8,0.00,163.96,64.51,27.36,83.29,0.0,0.00,krizia86744776,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
4,krizia,11/24/2022,1:39:34 PM,6,0,15,16,0.00,71.56,262.46,81.57,0.00,0.0,0.00,krizia86744776,"[{'courseTitle': 'Sports', 'errorAttempts': ''..."

In [40]:
first_column = df.pop('userId')
  
# insert column using insert(position,column_name,
# first_column) function
df.insert(0, 'userId', first_column)

In [41]:
df

,userId,name,Date,Time,personalRecords_CC,personalRecords_EA,personalRecords_TCA,personalRecords_TQA,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore,questionsData
0,krizia86744776,krizia,11/23/2022,10:24:42 PM,2,3,3,3,0.00,36.77,0.00,0.00,0.00,0.0,0.00,NaN
1,krizia86744776,krizia,11/23/2022,10:59:40 PM,7,0,7,7,0.00,65.52,0.00,2.68,52.51,0.0,0.00,NaN
2,krizia86744776,krizia,11/23/2022,2:51:27 PM,2,1,5,5,3.38,148.70,70.32,18.16,55.66,0.0,9.67,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
3,krizia86744776,krizia,11/23/2022,9:46:30 PM,4,2,8,8,0.00,163.96,64.51,27.36,83.29,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
4,krizia86744776,krizia,11/24/2022,1:39:34 PM,6,0,15,16,0.00,71.56,262.46,81.57,0.00,0.0,0.00,"[{'courseTitle': 'Sports', 'errorAttempts': ''..."
5,krizia86744776,krizia,11/24/2022,3:42:30 PM,0,0,0,0,0.00,3.85,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Sports', 'errorAttempts': ''..."
6,krizia86744776,krizia,11/27/2022,10:26:13 PM,0,0,0,0,0.00,39.41,3.05,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
7,krizia86744776,krizia,11/27/2022,11:27:48 AM,0,0,0,0,5.60,19.90,2.82,14.25,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
8,peri peri98263724,peri peri,08/11/2022,14:57:43,5,1,7,7,0.00,109.74,0.00,0.00,61.48,0.0,5.74,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
9,peri peri98263724,peri peri,08/11/2022,15:02:48,0,0,0,0,0.00,12.19,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
10,peri peri98263724,peri peri,11/11/2022,12:41:57,11,1,30,30,0.00,95.62,151.28,25.32,47.72,0.0,34.99,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
11,pradip71059610,pradip,11/11/2022,12:57:00 PM,2,0,3,3,0.00,92.22,36.70,32.30,17.92,0.0,19.15,"[{'courseTitle': 'Sports', 'errorAttempts': ''..."
12,pradip71059610,pradip,11/14/2022,1:28:58 PM,0,0,0,0,0.00,84.90,3.43,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
13,pradip71059610,pradip,11/14/2022,1:36:05 PM,4,2,8,8,0.00,52.90,36.35,0.00,49.07,0.0,2.11,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
14,pradip71059610,pradip,11/14/2022,8:59:23 PM,0,0,0,0,0.00,14.76,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
15,pradip71059610,pradip,11/17/2022,4:51:55 PM,1,0,1,1,0.00,58.82,8.17,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
16,pradip71059610,pradip,11/20/2022,1:41:29 PM,0,0,0,0,0.00,18.63,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
17,pradip71059610,pradip,11/20/2022,2:12:57 PM,1,1,2,2,0.63,12.77,7.29,0.00,12.98,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
18,pradip71059610,pradip,11/21/2022,1:22:15 PM,0,0,0,0,0.00,14.34,1.30,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
19,pradip71059610,pradip,11/24/2022,12:47:54 PM,2,0,2,2,0.00,37.10,0.00,0.00,0.00,0.0,3.43,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
20,pradip71059610,NaN,11/24/2022,12:51:15 PM,0,0,0,0,0.00,0.33,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
21,pradip71059610,NaN,11/24/2022,12:52:20 PM,0,0,0,0,0.00,0.33,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
22,pradip71059610,NaN,11/24/2022,12:53:02 PM,0,0,0,0,0.00,0.33,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
23,pradip71059610,NaN,11/24/2022,12:54:29 PM,0,0,0,0,0.00,0.33,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
24,pradip71059610,pradip,11/8/2022,2:40:17 PM,1,1,1,1,0.00,9.80,8.61,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
25,pradip71059610,pradip,11/8/2022,2:42:45 PM,0,0,0,0,0.00,30.80,4.19,1.99,0.77,0.0,1.43,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
26,pradip71059610,pradip,11/9/2022,2:51:24 PM,0,0,0,0,0.00,166.11,2.75,8.23,0.00,0.0,7.98,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
27,pradip71059610,pradip,11/9/2022,3:13:27 PM,0,0,0,0,4.74,206.23,0.00,3.97,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
28,pradip71059610,pradip,11/9/2022,3:33:09 PM,0,0,0,0,0.00,13.03,0.00,2.64,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
29,pradip95243213,pradip,23/11/2022,11:11:17,1,0,1,1,0.00,17.88,12.75,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
30,sirupate21477013,sirupate,11/24/2022,12:54:29 PM,0,0,0,0,0.00,0.33,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
31,sirupate21477013,sirupate,11/24/2022,1:31:49 PM,0,0,0,0,0.00,16.40,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
32,sirupate21477013,sirupate,11/24/2022,1:40:45 PM,0,0,0,0,0.00,16.02,2.59,3.84,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
33,sirupate21477013,sirupate,11/25/2022,2:53:09 PM,0,0,0,0,0.00,58.89,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
34,sirupate21477013,NaN,11/25/2022,3:13:46 PM,0,0,0,0,0.00,8.81,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
35,sirupate21477013,sirupate,11/25/2022,3:17:24 PM,0,0,0,0,0.00,50.87,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
36,sirupate21477013,sirupate,11/29/2022,2:44:26 PM,0,0,0,0,0.00,98.37,0.00,1.07,0.00,0.0,3.82,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
37,sirupate21477013,sirupate,11/29/2022,2:49:18 PM,1,0,1,1,0.00,19.88,12.34,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
38,sirupate21477013,sirupate,11/29/2022,2:51:06 PM,0,0,0,0,0.00,17.52,3.74,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
39,sirupate21477013,sirupate,11/29/2022,2:59:03 PM,0,0,0,0,0.00,24.69,22.01,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
40,sirupate21477013,sirupate,11/29/2022,4:14:35 PM,0,0,0,0,0.00,10.06,5.34,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
41,sirupate21477013,sirupate,11/29/2022,4:15:08 PM,0,0,0,0,0.00,7.37,0.00,0.00,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
42,sirupate21477013,sirupate,11/29/2022,4:18:18 PM,0,0,0,0,0.00,8.61,4.80,1.09,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
43,yash19263295,yash,09/11/2022,15:40:56,0,0,0,0,0.00,10.01,0.00,1.83,0.00,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
44,yash19263295,yash,15/11/2022,16:54:54,2,1,3,4,0.00,149.97,75.28,15.60,7.10,0.0,24.55,"[{'courseTitle': 'Animals', 'errorAttempts': '..."
45,yash19263295,yash,16/11/2022,15:19:43,3,3,9,9,0.00,65.10,167.72,11.05,46.99,0.0,32.59,"[{'courseTitle': 'Sports', 'errorAttempts': ''..."

In [42]:
val =df['timeSpent_timeAI']+df['timeSpent_timeHomeScreen']+df['timeSpent_timeLesson']+df['timeSpent_timeMaps']+df['timeSpent_timeQuiz']+df['timeSpent_timeRewardPage']+df['timeSpent_timeStore']

In [46]:
df.insert(8,'timeSpent_total', val)

In [48]:
df.head()

,userId,name,Date,Time,personalRecords_CC,personalRecords_EA,personalRecords_TCA,personalRecords_TQA,timeSpent_total,timeSpent_timeAI,timeSpent_timeHomeScreen,timeSpent_timeLesson,timeSpent_timeMaps,timeSpent_timeQuiz,timeSpent_timeRewardPage,timeSpent_timeStore,questionsData
0,krizia86744776,krizia,11/23/2022,10:24:42 PM,2,3,3,3,36.77,0.00,36.77,0.00,0.00,0.00,0.0,0.00,NaN
1,krizia86744776,krizia,11/23/2022,10:59:40 PM,7,0,7,7,120.71,0.00,65.52,0.00,2.68,52.51,0.0,0.00,NaN
2,krizia86744776,krizia,11/23/2022,2:51:27 PM,2,1,5,5,305.89,3.38,148.70,70.32,18.16,55.66,0.0,9.67,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
3,krizia86744776,krizia,11/23/2022,9:46:30 PM,4,2,8,8,339.12,0.00,163.96,64.51,27.36,83.29,0.0,0.00,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."
4,krizia86744776,krizia,11/24/2022,1:39:34 PM,6,0,15,16,415.59,0.00,71.56,262.46,81.57,0.00,0.0,0.00,"[{'courseTitle': 'Sports', 'errorAttempts': ''..."

In [49]:
df.name = df.name.fillna(df['name'].mode()[0])

In [52]:
df.to_csv('data/IDC_new_Data.csv')