# Data Preprocessing

Converting data in json format to csv format

In [1]:
import pandas as pd
import json
import csv

In [2]:
with open("data/Otermans_export.json") as file:
    data=json.load(file)

In [4]:
df=pd.DataFrame(data)
df.head(2)

,IDC,users,version
krizia86744776,{'11-23-2022 10:24:42 PM': {'dateTime': '11/23...,NaN,0.1
peri peri98263724,{'08-11-2022 14:57:43': {'dateTime': '08/11/20...,NaN,0.1

In [8]:
my_list_for_IDC=[]
for i in data['IDC'].values():
    for j in i.values():
        my_list_for_IDC.append(j)

In [10]:
my_list_for_IDC[0]

{'dateTime': '11/23/2022 10:24:42 PM',
 'name': 'krizia',
 'personalRecords': {'CC': 2, 'EA': 3, 'TCA': 3, 'TQA': 3},
 'timeSpent': {'timeAI': '',
  'timeHomeScreen': '36.77s',
  'timeLesson': '',
  'timeMaps': '',
  'timeQuiz': '',
  'timeRewardPage': '',
  'timeStore': ''},
 'userId': 'krizia86744776'}

In [12]:
new_df=pd.DataFrame(my_list_for_IDC)
new_df.head(3)

,dateTime,name,personalRecords,timeSpent,userId,questionsData
0,11/23/2022 10:24:42 PM,krizia,"{'CC': 2, 'EA': 3, 'TCA': 3, 'TQA': 3}","{'timeAI': '', 'timeHomeScreen': '36.77s', 'ti...",krizia86744776,NaN
1,11/23/2022 10:59:40 PM,krizia,"{'CC': 7, 'EA': 0, 'TCA': 7, 'TQA': 7}","{'timeAI': '', 'timeHomeScreen': '65.52s', 'ti...",krizia86744776,NaN
2,11/23/2022 2:51:27 PM,krizia,"{'CC': 2, 'EA': 1, 'TCA': 5, 'TQA': 5}","{'timeAI': '3.38s', 'timeHomeScreen': '148.70s...",krizia86744776,"[{'courseTitle': 'Alphabet', 'errorAttempts': ..."